{% extends 'base/base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}
Profile
{% endblock %}
{% block head %}
<!-- CSS files -->
<!-- <link rel="stylesheet" href="{% static 'base/css/home.css' %}"> -->
{% endblock %}
{% block content %}
<section class="min-h-screen bg-gradient-to-br from-zinc-900 to-indigo-900/30 w-full grid place-items-center">
    <div class="grid place-items-center pt-16 w-full">
        <div class="rounded-md w-full max-w-5xl flex flex-col justify-center px-3">
            <div class="grid place-items-end py-4 border border-zinc-600 shadow-lg shadow-zinc-800 rounded px-3 bg-center bg-cover bg-no-repeat origin-bottom w-full max-h-[200px] max-w-xl lg:max-w-screen-2xl mx-auto" style="background-image: linear-gradient(135deg, rgba(85, 74, 101, 0.604), rgba(0, 4, 22, 0.895)), url('{% static 'base/images/bg.svg' %}');">
                <div class="flex flex-row w-full justify-between align-bottom">
                    <img src="{{learner.profile_img}}" alt="google profile image" class="w-16 h-16 lg:w-24 lg:h-24 rounded-full border border-zinc-50 relative bottom-0">
                    <li class="list-none flex justify-end flex-col text-right font-raleway">
                        <h2 class="text-xl lg:text-3xl text-transparent bg-gradient-to-r from-zinc-100 via-zinc-400 to-zinc-200 bg-clip-text font-bold uppercase h-fit tracking-wider">{{learner.user.first_name}}&nbsp;{{learner.user.last_name}}</h2>
                        <h3 class=" font-bold lowercase h-fit ">{{learner.user.email}}</h3>
                        <h3 class=" font-bold lowercase h-fit  font-quicksand">{{learner.phone}}</h3>
                    </li>
                </div>
            </div>
            <div class="flex text-center mt-4 flex-col gap-3 container mx-auto w-full">
                <div>
                    <h2 class="text-xl font-raleway font-bold">Progress</h2>
                    <h3 class="text-sm underline underline-offset-4"><a href="{% url 'topics:all_topics' %}">See all topics</a></h3>
                </div>
                <div class="w-full">
                    <ul class="w-full flex  flex-wrap justify-center align-middle gap-4">
                        {% for pg in progress_list %}
                        <li class="pt-4 max-w-[300px] bg-gradient-to-bl from-zinc-800/20 to-slate-100/10 border w-full border-zinc-700 grid place-items-center rounded-lg overflow-hidden">
                            <div class="flex flex-col gap-4">
                                <h3 class="text-lg font-bold">{{pg.subtopic.topic.name}}</h3>
                            <h3 class=" font-medium">{{pg.subtopic.name}}</h3>
                            <h3 class="text-4xl font-semibold font-raleway">{{pg.percentage|truncatechars:5}}%</h3>
                            </div>
                            <a href="{% url 'learn:learn_subtopic' pg.subtopic.id %}" class="bg-zinc-900/80 w-full px-3 py-2 rounded text-sm mt-3">Learn More</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</section>
<script src="{% static 'base/js/changeTo.js' %}"></script>
<script src="{% static 'base/js/countdown.js' %}"></script>
{% endblock %}